body {
    background-color: white;
    font-family: Georgia, serif;
    padding-top: 10px;
    align-items: center;
    text-align: center;
    margin: 10px;
    white-space: nowrap;
    font-weight: normal;
    line-height: 20px;
}
input[type="range"] {
    accent-color: #9146FF;
}

h1 {
    font-family: 'Google Sans', Arial, sans-serif;;
    color: #9146FF;
    font-stretch: expanded;
    -webkit-text-stroke: 1px black;
}

button.buttonStyle {
    background-color:white;
    font-family: Georgia, serif;
    color: black;

}

.tgl-btn {
    -webkit-appearance: none;
    position: absolute;
    width: 24px;
    height: 12px;
    border-radius: 100px;
    background-color: #EED6FE;
    transition: background .3s;
    outline: #5e19ca;
    cursor: pointer;
}

.tgl-btn::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    height: 0.6rem;
    width: 0.6rem;
    background-color: #5e19ca;
    transition: left .3s;
}

.tgl-btn:checked {
    background-color: #BF68F7;
}

.tgl-btn:checked::after {
    left: 70%;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    height: 10px;
    background: black;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #9146FF;
    cursor: pointer;
  }

.autoBetter, .autoBonus, .pointTotal{
    border: 7px solid #5e19ca;
    border-radius: 10px;
    background-color: #FFFFFF;
    padding: 10px;
    margin: 8px auto auto;
    width: 300px;
    height: 150px;
}

.autoBonus {
    height: 20px;
}

.pointTotal{
    height: 20px;
    width: 150px;
    margin-bottom: 8px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #9146FF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

button:active {
    transform: scale(1.1);
    transition: transform 0.1s ease-in-out;
}

button:focus {
    outline: none;
}

button:active:focus {
    transform: scale(0.9);
    transition: transform 0.1s ease-in-out;
}

